@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')
;
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';     
}

body{
    background-color: white;
    background:url("img/unnamed.jpg");
    background-position:center ;
    background-size:cover;
    background-blend-mode: overlay;
    
}
.w-title{
    color: tomato;
    font-size: 4rem;
    text-align: center;
    background-color: #fff;
    width: 500px;
    margin: 0 auto;
} 


.weather-box{
    display: flex;
    gap: 35px;
    padding: 30px;
    
}
.weather-input{
    width: 550px;
    color: #313133;
    background-color: #313133;
    text-align: center;
    height: 350px;
}
.weather-input p{
    color: white;
    font-size: 1.5rem;
    font-style: italic;
}
.weather-input input{
    width: 320px;
    height: 46px;
    outline: none;
    padding: 0 15px;
    font-size: 1.07rem;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-input button{
    width: 180px;
    padding: 10px 0;
    border-color: black;
    border-radius: 4px;
    color: tomato;
    font-size: 1rem;
    font-weight: 590;
}


.output{
    width: 100%;
    
    background-color: #313133;
    color: #fff;
}
.weather-data .current-weather{
    color: #e4e4e4;
    display: flex;
    border-radius: 5px;
    margin: 30px 50px;
    margin-top: -px;
    background-color: rgba(99, 125, 126, 0.8);
    justify-content: space-between;
}

.current-weather h2{
    font-size: 1.7rem;

}
.current-weather h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h4{
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2{
    font-size: 1.5rem;
    margin: 50px;
    color: #fff;
}
.weather-cards{
    display: flex;
    gap: 10px;
    margin: 40px;
    
}
.card h4{
    margin: 20px;
}

.weather-cards .card{
    text-align: center;
    margin: 10px;
    background: #313133;
    list-style: none;
    color: #fff;
    padding: 18px 20px 18px 15px;
    border-radius: 5px;
    background: #6c757d;
    width: calc(100% /4);
}
.weather-cards .card img{
    max-width: 100px;
    margin: 5px 0 -12px 0;
}

footer{
    color:#fff;
    background:  #4c5888;
    text-align: center;
    height: 50px;
    padding:20px;
}


 @media (max-width: 1400px) {
    .output .current-weather{
        padding:20px;
    }
    .weather-cards {
        flex-wrap: wrap;

    }
}
@media (max-width: 1200px){
    .weather-cards .card{
        width: calc(100% / 3-15px);

    }

}
@media(max-width: 950px ){
    .weather-input {
        width: 450px;
    }
    .weather-cards .card{
        width:calc(100% / 2 - 10px)
    }
}

@media(max-width: 750px){
    .weather-box{
        flex-direction: column;
        text-align: center;
    }
    .weather-cards {
        margin: 140px;
        width: 400px;
    }
}

